In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('../data/processed/Dronninglund_treated_data_and_flow_rates.csv', parse_dates=True, index_col=0) 
T_MIN, T_MAX = 10, 95
df

,SO.DA.ET.422.5,SO.DA.HT.422.1.F,SO.DA.HT.422.1.T,SO.DA.HT.422.2.F,SO.DA.HT.422.2.T,SO.DA.LT.421,T_00.5,T_01.5,T_02.5,T_03.5,...,Q_ch_bot_calc,Q_dis_bot_calc,FR_top_c,FR_mid_c,FR_bot_c,Q_top,Q_mid,Q_bot,Q_ch_dir,Q_dis_dir
2014-01-01 01:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2014-01-01 01:10:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2014-01-01 01:20:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2014-01-01 01:30:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2014-01-01 01:40:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01 00:10:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2021-01-01 00:20:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2021-01-01 00:30:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2021-01-01 00:40:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0
2021-01-01 00:50:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-0.0

In [15]:
water_sensors = ['T_{:04.1f}'.format(height) for height in np.linspace(16, 0.5, 32)]
df_water_sensors = df[water_sensors]
df_water_sensors.columns = [int(float(c[2:])-0.5) for c in water_sensors]
df_water_sensors = df_water_sensors.groupby(df_water_sensors.columns, axis='columns').mean()
df_water_sensors = (df_water_sensors - T_MIN) / (T_MAX - T_MIN)
df_water_sensors

C:\Users\peter\AppData\Local\Temp\ipykernel_11160\2716039145.py:4: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_water_sensors = df_water_sensors.groupby(df_water_sensors.columns, axis='columns').mean()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
2014-01-01 01:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:10:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:20:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:30:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:40:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01 00:10:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 00:20:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 00:30:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 00:40:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-01 00:50:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
inputs = pd.concat([ df.F_top * df.FR_top_c, df.F_bot * df.FR_bot_c, df.F_mid * df.FR_mid_c, df.T_top, df.T_mid, df.T_bot], axis=1)
inputs.columns = ['F_top', 'F_bot', 'F_mid', 'T_top', 'T_mid', 'T_bot']
inputs[['T_top', 'T_mid', 'T_bot']] = (inputs[['T_top', 'T_mid', 'T_bot']] - T_MIN) / (T_MAX - T_MIN)
inputs[['F_top', 'F_bot', 'F_mid']] = inputs[['F_top', 'F_bot', 'F_mid']] / inputs[['F_top', 'F_bot', 'F_mid']].max()
inputs

                           F_top  F_bot  F_mid  T_top  T_mid  T_bot
2014-01-01 01:00:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2014-01-01 01:10:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2014-01-01 01:20:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2014-01-01 01:30:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2014-01-01 01:40:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
...                          ...    ...    ...    ...    ...    ...
2021-01-01 00:10:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-01 00:20:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-01 00:30:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-01 00:40:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-01 00:50:00+01:00    NaN    NaN    NaN    NaN    NaN    NaN

[368208 rows x 6 columns]

In [17]:
variables = df[['temp_dry', 'Tg_25', 'Tg_20', 'Tg_15', 'Tg_10']]

In [25]:
start_date = '2014-05-01' # Nothing realy happens before ...
freq = '1h'
inputs = inputs[start_date:].resample(freq).mean()
variables = variables[start_date:].resample(freq).mean()
df_water_sensors = df_water_sensors[start_date:].resample(freq).mean()
t = (df_water_sensors.index - df_water_sensors.index[0]).total_seconds() / 3600
df_water_sensors['t'] = t


inputs = inputs.rename(columns={'F_top': 'Ftop', 'F_bot': 'Fbot', 'F_mid': 'Fmid', 'T_top': 'Ttop', 'T_mid': 'Tmid', 'T_bot': 'Tbot'})

inputs.to_csv('../data/processed/dronninglund/inputs.csv')
df_water_sensors.to_csv('../data/processed/dronninglund/water_sensors.csv')
variables.to_csv('../data/processed/dronninglund/variables.csv')

In [26]:
# water_sensors = pd.read_csv('../data/processed/dronninglund/water_sensors.csv', parse_dates=True, index_col=0)
inputs

                           Ftop  Fbot  Fmid      Ttop      Tmid      Tbot
2014-05-01 00:00:00+01:00   NaN   NaN   NaN  0.799804  0.377647  0.263333
2014-05-01 01:00:00+01:00   NaN   NaN   NaN  0.798824  0.377647  0.261765
2014-05-01 02:00:00+01:00   NaN   NaN   NaN  0.799608  0.378431  0.259804
2014-05-01 03:00:00+01:00   NaN   NaN   NaN  0.798824  0.377059  0.257843
2014-05-01 04:00:00+01:00   NaN   NaN   NaN  0.798824  0.375882  0.256078
...                         ...   ...   ...       ...       ...       ...
2020-12-31 20:00:00+01:00   NaN   NaN   NaN       NaN       NaN       NaN
2020-12-31 21:00:00+01:00   NaN   NaN   NaN       NaN       NaN       NaN
2020-12-31 22:00:00+01:00   NaN   NaN   NaN       NaN       NaN       NaN
2020-12-31 23:00:00+01:00   NaN   NaN   NaN       NaN       NaN       NaN
2021-01-01 00:00:00+01:00   NaN   NaN   NaN       NaN       NaN       NaN

[58489 rows x 6 columns]